@charset "utf-8";

*{
    padding: 0;
    margin: 0;
}

.main {
    text-align: center;
    padding: 25px;
}

h1, p {
    padding-top: 15px;;
}

button {
    padding: 30px;
    margin-top: 15px;
    border-radius:10px;
    background-color:white;
    border:solid black 2px;
    box-shadow: 2px 5px gray;
}
#myList{
    border:2px solid black;
    width: 400px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    margin: auto;
    text-align: left;
    border-radius: 20px;
}

li {
    padding: 5px;
}